:root {
    --ruffle-blue: #37528c;
    --ruffle-orange: #ffad33;
    --splash-screen-background: #31497d;
}

body {
    position: absolute;
    inset: 0;
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
    display: flex;
    flex-flow: column;
    background: black;
}

#main {
    position: relative;
    flex: 1;
}

#overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    border: 8px dashed var(--ruffle-orange);
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    margin: 10px 5px;
}

#overlay.drag {
    opacity: 1;
    transition-timing-function: ease-out;
}

#player {
    position: absolute;
    inset: 0;
    width: auto;
    height: auto;
    margin: 10px 0;
}

#nav {
    width: 100%;
    background: var(--ruffle-blue);
    box-shadow: 0 3px 6px 5px var(--ruffle-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px 0 5px;
    margin-bottom: 5px;
}

#title {
    transition: opacity 0.5s;
}

#title:hover {
    opacity: 0.5;
}

#title img {
    height: 32px;
}

#file-picker select,
#file-picker input,
#author {
    margin-left: 5px;
}

#local-file-container,
#sample-swfs-container {
    display: inline-block;
    vertical-align: middle;
}

#local-file {
    width: 0;
    opacity: 0;
    position: absolute;
}

#local-file-label {
    color: var(--ruffle-blue);
    padding: 3px 10px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
}

#local-file-name {
    min-width: 150px;
    display: inline-block;
    font-size: smaller;
}

#sample-swfs {
    background-color: white;
    color: var(--ruffle-blue);
    border: 1px solid white;
    border-radius: 5px;
}

#author-container {
    font-size: small;
}

#author {
    color: var(--ruffle-orange);
}

.hidden {
    display: none !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: var(--ruffle-blue);
    margin: 15vh auto;
    padding: 20px;
    border: 2px solid white;
    width: 300px;
    height: 270px;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#open-modal,
#reload-swf {
    vertical-align: middle;
    cursor: pointer;
}

#metadata {
    margin: 0 auto;
}

#metadata td {
    padding: 2px 1px;
    border: 1px solid #ddd;
    color: var(--ruffle-orange);
}

#metadata tr td:nth-child(1) {
    font-weight: bold;
    padding: 0 10px;
}

@media only screen and (width <= 800px) {
    #local-file-container,
    #sample-swfs-container {
        display: block;
    }

    #local-file-container {
        margin-bottom: 10px;
    }
}

@media only screen and (width <= 600px) {
    #local-file-static-label,
    #sample-swfs-label {
        display: block;
        margin-bottom: 5px;
    }

    #author-container {
        font-size: 12px;
        text-align: center;
    }

    #nav {
        flex-flow: column;
    }
}
