[package]
name = "exporter"
version = "0.1.0"
authors = ["Nathan Adams <dinnerbone@dinnerbone.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"

[dependencies]
ruffle_core = { path = "../core" }
ruffle_render_wgpu = { path = "../render/wgpu" }
env_logger = "0.7.1"
image = "0.23.7"
log = "0.4"
sample = "0.11.0"
structopt = "0.3.15"
futures = "0.3.4"
wgpu = "0.5"
wgpu-native = "0.5"
path-slash = "0.1.3"
walkdir = "2.3.1"
indicatif = "0.15"

[features]
avm_debug = ["ruffle_core/avm_debug"]
render_debug_labels = ["ruffle_render_wgpu/render_debug_labels"]
lzma = ["ruffle_core/lzma"]
