# Enforce LF line endings for text files
*      text=auto eol=lf

# Set *.as files as ActionScript, vs. GitHub's guess of AngelScript
*.as   linguist-language=ActionScript

# Binary files
*.png  binary
*.fla  binary
*.swf  binary
*.swc  binary
