[workspace]
members = [
    "core",
    "core/macros",
    "desktop",
    "swf",
    "web",
    "scanner",
    "exporter",

    "render/canvas",
    "render/wgpu",
    "render/common_tess",
    "render/webgl",

    "tests",
]
resolver = "2"

# Don't optimize build scripts and macros.
[profile.release.build-override]
opt-level = 0

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[profile.dev.package.h263-rs]
opt-level = 3

[profile.dev.package.h263-rs-yuv]
opt-level = 3

[profile.dev.package.nihav_core]
opt-level = 3

[profile.dev.package.nihav_codec_support]
opt-level = 3

[profile.dev.package.nihav_duck]
opt-level = 3
