[workspace]
members = [
    "core",
    "core/macros",
    "desktop",
    "swf",
    "web",
    "scanner",

    "render/canvas",
]

# Don't optimize build scripts and macros.
[profile.release.build-override]
opt-level = 0

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
