[package]
name = "pixel_bender"
authors.workspace = true
edition = "2024"
homepage.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
thiserror = { workspace = true }
num-traits = { workspace = true }
num-derive = { workspace = true }
byteorder = { workspace = true }
pest = { version = "2.8.4", optional = true }
pest_derive = { version = "2.8.4", optional = true }
serde_json = { version = "1.0.145", optional = true }

[features]
assembly = ["dep:pest", "dep:pest_derive", "dep:serde_json"]
