<flex-config>
    <compiler>
        <source-path>
            <path-element>.</path-element>
            <path-element>../../../../lib</path-element>
        </source-path>
        <debug>true</debug>
        <show-actionscript-warnings>false</show-actionscript-warnings>
        <strict>false</strict>
    </compiler>
    <swf-version>10</swf-version>
    <output>test.swf</output>
</flex-config>