[package]
name = "ruffle_frontend_utils"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[lints]
workspace = true

[features]
cpal = ["dep:cpal", "dep:bytemuck"]
fs = []
navigator = ["fs", "dep:async-io", "dep:tokio"]
executor = ["dep:tokio"]

[dependencies]
toml_edit = { version = "0.23.6", features = ["parse"] }
url = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }
zip = { version = "6.0.0", default-features = false, features = ["deflate"] }
urlencoding = "2.1.3"
ruffle_core = { path = "../core", default-features = false }
ruffle_render = { path = "../render", default-features = false }
async-channel = { workspace = true }
slotmap = { workspace = true }
async-io = { version = "2.6.0", optional = true }
futures-lite = "2.6.1"
reqwest = { version = "0.12.24", default-features = false, features = [
    "rustls-tls",
    "cookies",
    "charset",
    "http2",
    "macos-system-configuration",
] }
tokio = { workspace = true, features = ["net"], optional = true }
cpal = { workspace = true, optional = true }
bytemuck = { workspace = true, optional = true }

[dev-dependencies]
tempfile = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt"] }
macro_rules_attribute = "0.2.2"
