[package]
name = "ruffle_frontend_utils"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[lints]
workspace = true

[features]
cpal = ["dep:cpal", "dep:bytemuck"]

[dependencies]
toml_edit = { version = "0.22.22", features = ["parse"] }
url = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }
zip = { version = "2.2.2", default-features = false, features = ["deflate"] }
urlencoding = "2.1.3"
ruffle_core = { path = "../core", default-features = false }
ruffle_render = { path = "../render", default-features = false }
async-channel = { workspace = true }
slotmap = { workspace = true }
async-io = "2.4.0"
futures-lite = "2.5.0"
reqwest = { version = "0.12.12", default-features = false, features = [
    "rustls-tls",
    "cookies",
    "charset",
    "http2",
    "macos-system-configuration",
] }
tokio = { workspace = true, features = ["net"] }
cpal = { workspace = true, optional = true }
bytemuck = { workspace = true, optional = true }

[dev-dependencies]
tempfile = "3"
tokio = { workspace = true, features = ["macros", "rt"] }
macro_rules_attribute = "0.2.0"
