[package]
name = "ruffle_core"
version = "0.1.0"
authors = ["Mike Welsh <mwelsh@gmail.com>"]
edition = "2018"

[dependencies]
bitstream-io = "0.8.2"
fnv = "1.0.3"
gc-arena = "0.1.1"
gc-arena-derive = "0.1.1"
generational-arena = "0.2.2"
libflate = "0.1.26"
log = "0.4"
minimp3 = { version = "0.3.3", optional = true }
puremp3 = { version = "0.1", optional = true }
rand = "0.6.5"
swf = { git = "https://github.com/Herschel/swf-rs", rev = "07eb5bb" }

[dependencies.jpeg-decoder]
git = "https://github.com/kaksmet/jpeg-decoder"
rev = "e76f194"
default-features = false # can't use rayon on web

[features]
default = ["minimp3"]
