.logo {
    max-width: 224px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 24px 32px;
}

details > .options {
    padding-top: 10px;
}

details > summary {
    cursor: pointer;
}
