body {
    width: 240px;
    overflow: hidden;
}

.logo {
    max-width: 200px;
}

.container {
    padding: 16px;
}

#status-container {
    text-align: center;
    background: white;
    color: black;
}

#status-indicator {
    --color: green;

    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: var(--color);
    box-shadow: 0 0 10px var(--color);
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2px;
    margin: 0 12px;
}

.buttons-container button {
    flex-grow: 1;
}

/* TODO: figure out why this appears smaller on Firefox */
#options-button {
    width: 24px;
    margin-left: 4px;
    padding: 0 2px;
    cursor: pointer;
}

#reload-button {
    height: 0;
    padding: 0;
    transition: height 0.2s ease-in, margin-bottom 0.2s ease-in;
    overflow: hidden;
    cursor: default;
    background: var(--ruffle-orange);
    color: var(--ruffle-dark-blue);
    text-shadow: 0 0 0.1px var(--ruffle-dark-blue);
    flex-basis: 100%;
}

#reload-button:enabled {
    height: 33px;
    margin-bottom: 6px;
    transition: height 0.2s ease-out, margin-bottom 0.2s ease-out;
    cursor: pointer;
}

#version-text {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    padding-bottom: 6px;
}

@media (prefers-color-scheme: dark) {
    #status-container {
        background: #333;
        color: white;
    }
}
