[Desktop Entry]
Type=Application
Name=Ruffle
GenericName=Flash Player
Comment=Play Flash games & movies
Icon=icon
Exec=ruffle_desktop
MimeType=application/x-shockwave-flash;application/vnd.adobe.flash.movie
Categories=Game;Utility;Graphics;AudioVideo;Player;Viewer
Keywords=flash;swf;player;emulator;rust
