root = true

# Format only the test configuration, other files constitute tests and can
# or sometimes even have to be formatted differently.
[test.toml]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
