:root {
    --ruffle-blue: #37528c;
    --ruffle-orange: #ffad33;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
    display: flex;
    flex-flow: column;
    background: black;
}

#main {
    position: relative;
    flex: 1;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    border: 8px dashed var(--ruffle-orange);
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    margin: 10px 5px;
}

#overlay.drag {
    opacity: 1;
    transition-timing-function: ease-out;
}

#prompt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--ruffle-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 10px 0;
}

#nav {
    width: 100%;
    background: var(--ruffle-blue);
    box-shadow: 0 3px 6px 5px var(--ruffle-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px 0 5px;
    margin-bottom: 5px;
}

#title {
    transition: opacity 0.5s;
}

#title:hover {
    opacity: 0.5;
}

#title img {
    height: 32px;
}

#file-picker select,
#file-picker input,
#author {
    margin-left: 5px;
}

#local-file-container,
#sample-swfs-container {
    display: inline-block;
    vertical-align: middle;
}

#local-file {
    display: none;
}

#local-file-label {
    color: var(--ruffle-blue);
    padding: 3px 10px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
}

#local-file-name {
    min-width: 150px;
    display: inline-block;
    font-size: smaller;
}

#sample-swfs {
    background-color: white;
    color: var(--ruffle-blue);
    border: 1px solid white;
    border-radius: 5px;
}

#author-container {
    font-size: small;
}

#author {
    color: var(--ruffle-orange);
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 800px) {
    #local-file-container,
    #sample-swfs-container {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    #local-file-container span {
        display: block;
    }

    #sample-swfs-label {
        display: block;
    }

    #author-container {
        font-size: 12px;
        text-align: center;
    }

    #nav {
        flex-flow: column;
    }
}
