node_modules/
dist/
*.tsbuildinfo

_cacache/
_logs/
anonymous-cli-metrics.json

/npm-debug.log*

# npm workspaces should not have a `package-lock.json`,
# but it's still generated when doing `npm install` inside
# of them.
/packages/**/package-lock.json

# Jetbrains tools (CLion, IntelliJ, etc)
/.idea
